.header {
  height: 55px;
  background: #0b6fa4;
  color: #fff;
  display: flex;
  align-items: center;
  padding: 0 24px;
  
}

.header-left {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 20px;
  font-weight: 600;
}

.bank-icon {
  font-size: 30px;
}

.header-right {
  margin-left: auto;
  display: flex;
  align-items: center;
  gap: 16px;
}

.header-right mat-icon {
  cursor: pointer;
  font-size: 22px;
  opacity: 0.9;
}

.header-right mat-icon:hover {
  opacity: 1;
}





/* FOOTER */
.footer {
  height: 70px;
  background: #0b6fa4;
  color: #e0e0e0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  font-size: 17px;
}

.footer-right span {
  cursor: pointer;
  margin-left: 8px;
}

.footer-right span:hover {
  text-decoration: underline;
}


/* LOGIN AREA */
.login-card {
  background: rgba(255, 255, 255, 0.95);
  padding: 32px;
  border-radius: 16px;
  max-width: 420px;
  width: 100%;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.3);
}


/* Login card */
.login-card {
  position: relative;
  z-index: 1;
  background: #ffffff; /* pure white */
  padding: 40px;
  width: 450px;
  border-radius: 14px;
  box-shadow: 0 12px 35px rgba(0, 0, 0, 0.35);
  text-align: center;
}

/* Title */
.title {
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 30px;
  color: #1a237e;
  letter-spacing: 0.3px;
}

/* Form fields */
.full-width {
  width: 100%;
  margin-bottom: 16px;
}

/* Login button */
.login-btn {
  width: 100%;
  margin-top: 20px;
  padding: 10px;
  font-size: 16px;
}
